/* ------------------------------
    Declare styles variable
------------------------------*/
:root {
  --primary-color: #8a53ff;
  --dark-grey-color: #434343;
}

/* ------------------------------
    Reset all deafault styles
------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Changa One", cursive;
  font-family: "Roboto", sans-serif;
}

/* ------------------------------
            Navbar
------------------------------*/
.nav-menu {
  display: flex;
}
.nav-menu .nav-item .nav-link {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #495367;
  margin-left: 30px;
}
.nav-menu .nav-item .nav-link:hover {
  color: var(--primary-color);
}
.nav-icon {
  display: flex;
  margin-left: 30px;
}
.nav-icon .nav-item .nav-link {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 19px;
  color: var(--primary-color);
}
.nav-icon .nav-item .nav-link:hover {
  color: var(--primary-color);
}

/* ------------------------------
            Banner
------------------------------*/
.banner-section {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, white, transparent),
    url("../images/banner.jpg");
  min-height: 580px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header-title {
  font-family: "Changa One", cursive;
  font-weight: normal;
  font-size: 73px;
  line-height: 84px;
  color: var(--dark-grey-color);
  margin-bottom: 12px;
}
.header-title span {
  font-family: "Changa One", cursive;
  font-weight: normal;
  font-size: 73px;
  line-height: 84px;
  color: var(--primary-color);
}
.header-text {
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: var(--dark-grey-color);
  margin-bottom: 34px;
}
.custom-primary-btn {
  padding: 16px 30px;
  background-color: var(--primary-color);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border-radius: 4px;
  border: 2px solid var(--primary-color);
  text-decoration: none;
  transition: 0.2s;
}
.custom-primary-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.watch-highlight-btn {
  margin-top: 22px;
  color: var(--dark-grey-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.4s;
}
.watch-highlight-btn .fas {
  margin-left: 24px;
  margin-right: 10px;
  padding: 16px 19px;
  height: 48px;
  width: 48px;
  border-radius: 50px;
  background: rgba(138, 83, 255, 0.12);
  color: var(--primary-color);
}
.watch-highlight-btn span {
  color: var(--dark-grey-color);
}

/* ------------------------------
Featured Destination Sections
------------------------------*/
.featured-destination-section {
  display: flex;
  align-items: center;
  margin-top: 100px;
}
.features-destination-desc {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
}
.section-sub-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--primary-color);
}
.section-title {
  font-family: "Changa One", cursive;
  font-weight: normal;
  font-size: 39px;
  line-height: 36px;
  color: var(--dark-grey-color);
  margin: 16px 0;
}
.section-text {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 33px;
  color: var(--dark-grey-color);
}
.watch-now-btn {
  margin-top: 22px;
  color: var(--dark-grey-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.4s;
}
.watch-now-btn .fas {
  margin-right: 12px;
  padding: 16px 19px;
  height: 48px;
  width: 48px;
  border-radius: 50px;
  background-color: var(--primary-color);
  color: white;
}
.watch-now-btn span {
  color: var(--primary-color);
}

/* ------------------------------
Discover World Sections
------------------------------*/
.discover-world-section {
  display: flex;
  align-items: center;
  margin-top: 100px;
}
.discover-world {
  text-align: center;
  padding: 8px;
  margin-top: 20px;
  border-radius: 8px;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
.discover-world img {
  border-radius: 8px;
}
.discover-world h5 {
  font-family: "Changa One", cursive;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: var(--dark-grey-color);
  margin-top: 10px;
  margin-bottom: 0;
}
.discover-world a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--primary-color);
}

/* ------------------------------
Join Our Destination Section
------------------------------*/
.join-our-destination-section {
  display: flex;
  align-items: center;
  margin-top: 100px;
  padding: 50px 0;
  background-image: url(../images/tour.jpg);
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}
.travel-form {
  margin-top: 30px;
  padding: 30px;
  border-radius: 12px;
  border: 1px solid rgba(245, 245, 245, 0.2);
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px);
}
.travel-form h4 {
  font-family: "Changa One", cursive;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: var(--dark-grey-color);
}
.travel-form p {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: var(--dark-grey-color);
}
input,
textarea {
  display: inline-block;
  margin-bottom: 6px;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  outline: none;
  border: 1px solid transparent;
  font-weight: normal;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.8);
}
::placeholder {
  color: var(--dark-grey-color);
}
input:focus,
textarea:focus {
  border: 1px solid var(--primary-color);
}
.submit-btn {
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 12px 70px;
  border-radius: 4px;
  border: 2px solid var(--primary-color);
  transition: 0.3s;
}
.submit-btn:hover {
  border: 2px solid white;
  color: white;
  background-color: transparent;
}

/* ------------------------------
Recent Stroy Section
------------------------------*/
.recent-story-section {
  margin-top: 100px;
}
.latest-story-thumbnail img {
  width: 560px;
  height: 360px;
  border-radius: 8px 8px 0 0;
}
.latest-story-desc {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  background-color: #f9f9f9;
  border-radius: 0 0 8px 8px;
}
.latest-story-desc h5 {
  font-family: "Changa One", cursive;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: var(--dark-grey-color);
  margin-bottom: 2px;
}
.latest-story-desc p {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #576074;
}
.play-btn .fas {
  margin-left: 30px;
  padding: 16px 19px;
  height: 48px;
  width: 48px;
  border-radius: 50px;
  background-color: var(--primary-color);
  color: white;
}
.another-story {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 12px;
  transition: 0.3s;
}
.another-story-thumbnail img {
  width: 200px;
  height: 128px;
  border-radius: 4px;
  margin-right: 20px;
}
.another-story-desc h5 {
  font-family: "Changa One", cursive;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: var(--dark-grey-color);
  margin-bottom: 2px;
}
.another-story-desc p {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #576074;
}
.another-story-desc a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--primary-color);
}

/* ------------------------------
            footer
------------------------------*/
footer {
  margin-top: 50px;
}
footer p {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #939eb4;
}

/* ------------------------------
media query for small devices
------------------------------*/
@media screen and (max-width: 688px) {
  .navbar-brand img {
    width: 75%;
    padding: 10px;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-menu .nav-item .nav-link {
    padding: 10px;
    margin-left: 0;
  }
  .nav-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .nav-icon .nav-item .nav-link {
    padding: 10px;
  }
  .header-title {
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 12px;
  }
  .header-title span {
    font-size: 50px;
  }
  .header-text {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 38px;
  }
  .banner-btn {
    display: flex;
    justify-content: center;
  }
  .custom-primary-btn {
    padding: 14px 18px;
    font-size: 12px;
  }
  .watch-highlight-btn {
    margin-top: 0;
    font-size: 12px;
  }
  .watch-highlight-btn .fas {
    padding: 17px 20px;
  }
}

/* ------------------------------
media query for medium devices
------------------------------*/
@media screen and (max-height: 992px) {
}
